/* Navbar styling */
.navbar {
  /* border: 2px solid black; */
  height: 100vh;
  line-height: 100vh;
  margin: 0px;
  box-shadow: none;
  transition: 0.5s;
}

.hide{
  transform: translateY(-200%);
}

.nav-options {
  /* border: 2px solid black; */
  justify-content: center;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}


.menu {
  padding: 10px;
  /* border: 2px solid black; */
  display: inline-block;
  width: 45px;
  height: 50px;
  font-size: 1.5rem;
  margin: 0;
  margin-left: 5px;
  border-radius: 0px;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
}

.menu-icon {
  /* border: 2px solid black; */
  height: 50px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 3;
}


.nav-links {
  /* border: 2px solid black; */
  width: 60%;
}

.nav-links li {
  /* border: 2px solid white; */
  line-height: 10px;
  font-size: 0.5rem;
  padding: 0;
}

.nav-links li .navi-links {
  /* border: 2px solid white; */
  padding: 5px;
}


/* Side bar */
.side-bar {
  /* border: 2px solid black; */
  width: 100%;
  height: 100vh;
  margin: 0px;
  margin-top: 150px;
  z-index: 2;
  box-shadow: none;
}

.div1::first-letter {
  font-size: 2.5rem;
}

.div1 {
  /* border: 2px solid black; */
  font-size: 1.5rem;
}

.icons .media {
  /* border: 2px solid black; */
  font-size: 1rem;
}

.side-bar input {
  font-size: 0.8rem;
}

.side-options select {
  font-size: 0.8rem;
}

/* Content */
.content {
  padding: 0;
}

/* Home Section */
.home {
  /* border: 2px solid black; */
  gap: 1rem;
}

.home h1 {
  font-size: 1.5rem;
}

.home .intro ul {
  font-size: 0.5rem;
  /* border: 2px solid black; */
}

.image {
  width: 80%;
  height: 150px;
  /* border: 2px solid black; */
}

/* About Section */
.about h2 {
  font-size: 1.5rem;
}

.about ul {
  font-size: 0.5rem;
  /* border: 2px solid black; */
}

.about .btn {
  /* border: 2px solid black; */
  padding: 0px;
}

.about .btn .btn-link {
  font-size: 0.5rem;
  /* border: 2px solid black; */
  padding: 5px;
}

/* Services Section */
.services h2 {
  font-size: 1.5rem;
}

.cards {
  gap: 1rem;
  flex-direction: column;
}

.card {
  /* border: 2px solid black; */
  gap: 0.3rem;
}

.card h3 {
  font-size: 0.3rem;
}

.card p {
  font-size: 0.2rem;
}

.image1 {
  /* border: 2px solid black; */
  height: 250px;
}

.image2-1 {
  /* border: 2px solid black; */
  height: 125px;
}

.image2-2 {
  /* border: 2px solid black; */
  height: 125px;
}

.image3-1 {
  /* border: 2px solid black; */
  height: 125px;
}

.image3-2 {
  /* border: 2px solid black; */
  height: 125px;
}

.card .btn {
  padding: 5px;
  font-size: 0.8rem;
}

.card h3 {
  font-size: 1rem;
}

.card p {
  font-size: 0.8rem;
}

/* Portfolio Section */
.portfolio h2 {
  font-size: 1.5rem;
}

.portfolio p {
  font-size: 0.5rem;
}

.projects {
  /* border: 2px solid black; */
  height: 35vh;
  gap: 0rem;
}

.project {
  /* border: 2px solid black; */
  width: 100px;
  height: 50px;
}

img {
  /* border: 2px solid black; */
  width: 100px;
  height: 50px;
}

/* Footer */
.footer {
  padding: 0;
}

.foot {
  padding: 5px;
  gap: 0.4rem;
  /* border: 2px solid black; */
}

.footer .footer-text h3 {
  font-size: 0.8rem;
}

.footer .footer-text p {
  font-size: 0.6rem;
}

.footer ul {
  /* border: 2px solid black; */
  font-size: 0.5rem;
}

.footer .follow-us {
  font-size: 0.5rem;
  /* border: 2px solid black; */
}

.follow-us p {
  margin-top: 0;
}

.footer .follow {
  /* border: 2px solid black; */
  width: 90%;
  font-size: 0.8rem;
}

.follow i {
  /* border: 2px solid black; */
  padding: 3px;
}

.copyright {
  /* border: 2px solid black; */
  padding: 5px;
  font-size: 0.4rem;
}

/* Back to Top */
.top {
  right: 3%;
}