/* Navbar styling */
.navbar {
  /* border: 2px solid black; */
  height: 60px;
  line-height: 60px;
}

.nav-options {
  /* border: 2px solid black; */
  height: 60px;
}

.hidden {
  display: none;
}

.nav-links {
  /* border: 2px solid black; */
  height: 60px;
  margin-right: 0;
}

.nav-links li {
  /* border: 2px solid black; */
  line-height: 60px;
  font-size: 1.1rem;
  padding: 0;
}

/* Side bar */
.side-bar {
  /* border: 2px solid black; */
  width: 260px;
  margin-top: 60px;
}

.div1::first-letter {
  font-size: 4rem;
}

.div1 {
  /* border: 2px solid black; */
  font-size: 2rem;
}

.icons .media {
  /* border: 2px solid black; */
  font-size: 1.2rem;
}

.side-bar input {
  font-size: 1.2rem;
}

.side-options select {
  font-size: 1rem;
}

label {
  left: 10.5%;
}

/* Content side */
.site {
  /* border: 2px solid black; */
  margin-left: 260px;
  margin-top: 60px;
}

/* Home Section */
.home h1 {
  font-size: 3.5rem;
}

.home .intro ul {
  font-size: 1.2rem;
  /* border: 2px solid black; */
  width: 100%;
}

.intro-section {
  /* border: 2px solid black; */
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.image {
  width: 100%;
  /* border: 2px solid black; */
}

/* About Section */
.about h2 {
  font-size: 3rem;
}

.about ul {
  font-size: 1.2rem;
  /* border: 2px solid black; */
}

/* Services Section */
.cards {
  gap: 1rem;
}

.card {
  /* border: 2px solid black; */
  gap: 1rem;
  padding: 10px;
}

.card h3 {
  font-size: 1rem;
}

.card p {
  font-size: 0.6rem;
}

.image1 {
  /* border: 2px solid black; */
  height: 250px;
}

.image2-1 {
  /* border: 2px solid black; */
  height: 125px;
}

.image2-2 {
  /* border: 2px solid black; */
  height: 125px;
}

.image3-1 {
  /* border: 2px solid black; */
  height: 125px;
}

.image3-2 {
  /* border: 2px solid black; */
  height: 125px;
}

/* Portfolio Section */
.portfolio p {
  font-size: 1.2rem;
}

.project {
  /* border: 2px solid black; */
  width: 300px;
  height: 160px;
}

img {
  /* border: 2px solid black; */
  width: 300px;
  height: 160px;
}

/* Footer */
.foot {
  gap: 1rem;
  /* border: 2px solid white; */
  flex-direction: column;
  align-items: center;
}

.footer .footer-text {
  /* border: 2px solid black; */
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer .footer-text h3 {
  font-size: 1.5rem;
}

.footer .footer-text p {
  font-size: 1rem;
  text-align: center;
}

.footer ul {
  /* border: 2px solid black; */
  flex-direction: row;
  font-size: 0.9rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer .follow-us {
  flex-direction: row;
  font-size: 1rem;
  /* border: 2px solid black; */
  width: 100%;
}

.follow-us p {
  margin-top: 10px;
}

.footer .follow {
  /* border: 2px solid black; */
  width: 80%;
  flex-direction: row;
}